nav {
  padding: 20px;
}

nav h1 {
  font-size: 50px;
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  color: black;
}

nav div {
  display: flex;
}

nav img {
  height: 60px;
  margin: 0 10px;
}

nav a {
  margin: 0 20px;
  float: right;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  opacity: 0.5;
}

main {
  padding: 30px;
  min-height: 70vh;
  margin: 30px;
  border-radius: 8px;
}

.homepage {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.homepage > * {
  padding: 40px;
}

.homepage img {
  width: 200px;
  margin-top: -20px;
}

.homepage p {
  margin: 15px 0;
}

.homepage p:nth-of-type(3) {
  margin-top: 40px;
  color: #f62753;
}

.current-date {
  font-size: 60px;
}

#login-btn {
  font-size: 20px;
  color: #b2d754;
  border-color: #b2d754;
}
