nav {
  padding: 20px;
}

nav h1 {
  font-size: 40px;
  margin: 0px;
  font-family: 'Righteous', cursive;
  color: rgb(233, 93, 49);
}

nav a {
  margin: 0 20px;
  float: right;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  opacity: 0.5;
}

/*body {
  background: #201e36;
}*/

main {
  padding: 30px;
  min-height: 70vh;
  background: #f4f4f4;
  margin: 30px;
  border: 1px solid lightgray;
  border-radius: 8px;
}
