nav {
  padding: 20px;
}

nav h1 {
  font-size: 50px;
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  color: black;
}

nav div {
  display: flex;
}

nav img {
  height: 60px;
  margin: 0 10px;
}

nav a {
  margin: 0 20px;
  float: right;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  opacity: 0.5;
}

/*body {
  background: #201e36;
}*/

main {
  padding: 30px;
  min-height: 70vh;
  /*background: rgba(255,255,255,0.7);*/
  margin: 30px;
  border-radius: 8px;
}

.homepage {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.homepage > * {
  padding: 40px;
}

.homepage img {
  width: 200px;
  margin-top: -20px;
  /*border: 1px solid gray;*/
}
