.group-info {
  background: rgb(115, 102, 148);
  color: white;
  width: 500px;
  border: 0px;
  border-radius: 10px;
}

.group-title {
  border-bottom: 1px solid lightgray;
  font-size: 18px;
}

.members {
  display: flex;
  justify-content: space-between;
}

.members p {
  margin: 10px 0;
  color: #fbeb9c;
}

.group {
  display: flex;
  align-items: flex-start;
}

.group-info {
  padding: 30px;
}

form {
  margin: 20px 0;
}

input {
  padding: 5px;
  font-size: 14px;
  margin: 0 5px;
}

button {
  background: none;
  color: #d6f291;
  font-size: 16px;
  border: 1px solid #d6f291;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 0 5px;
}

button:hover {
  cursor: pointer;
  background: black;
}

.new-msg {
  display: flex;
}

.new-msg-btn {
  color: #b2d754;
  border-color: #b2d754;
}

.delete-msg-btn {
  color: darkgray;
  border: none;
  background: none;
}

#delete-group-btn {
  margin-top: 30px;
  color: #f62753;
  border-color: #f62753;
}

input:focus, button:focus {
  outline: none;
}

#message-field {
  width: 92%;
  padding: 8px;
  margin-bottom: 10px;
}

.results {
  margin: 20px 0;
  font-size: 20px;
}

.message-container {
  padding: 30px;
}

.message-container h1 {
  padding-bottom: 20px;
  margin: 0;
}

.message p {
  font-size: 18px;
  padding-bottom: 10px;
  margin: 8px;
}

.message span {
  color: gray;
  margin-left: 8px;
}

.message {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
