.group-info {
  /*border: 1px solid lightgray;*/
  /*background: #332a47;*/
  background: #a2c158;
  color: white;
  width: 500px;
  border: 0px;
  border-radius: 10px;
  /*box-shadow: 3px 3px 5px gray;*/
}

.group-title {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.members {
  display: flex;
  justify-content: space-between;
}

.group {
  display: flex;
  align-items: flex-start;
}

.group > * {
  padding: 30px;
}

form {
  margin: 20px 0;
}

button, input {
  padding: 5px;
  font-size: 14px;
  margin: 0 5px;
}

button {
  background: lightgray;
  /*border: 1px solid inset;*/
  /*border-color: rgba(232, 179, 21, 0.3);*/
  color: white;
  border-radius: 5px;
  padding: 6px 10px;
}

button:hover {
  cursor: pointer;
}

.delete-msg-btn {
  color: darkgray;
  border: none;
  background: none;
}

#delete-group-btn {
  margin-top: 30px;
  color: red;
  border: none;
  background: none;
}

input:focus, button:focus {
  outline: none;
}

#message-field {
  width: 300px;
}

.results {
  margin: 20px 0;
  font-size: 20px;
}

.message {
  border-bottom: 1px solid lightgray;
  /*border-bottom: 1px solid #2a939f;*/
  /*color: black;*/
  /*background: #2a939f;*/
  /*border-radius: 5px;*/
  padding: 0 10px;
  /*margin: 10px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
