.user-profile {
  text-align: center;
}

.group-container {
  display: flex;
  flex-wrap: wrap;
}

.group-box {
  background: lightgray;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-group {
  background: #f4f4f4;
}
