.profile {
  text-align: center;
}

.profile h1 {
  margin-top: 50px;
}

.user-profile {
  border-bottom: 1px solid lightgray;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.user-profile h3 {
  margin: 10px;
}

.group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group-box {
  background: rgb(115, 102, 148);
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.group-box:hover {
  opacity: 0.7;
}

.group-box p {
  color: #d6f291;
  /*margin-top: 5px;*/
}

.group-box h3 {
  font-size: 24px;
  margin: 0;
  padding-top: 10px;
}

a {
  margin: 10px;
  text-decoration: none;
}

.new-group {
  background: rgba(115, 102, 148, 0.3);
  margin: 10px;
}

.new-group p {
  color: rgb(115, 102, 148);
  font-size: 18px;
}

.new-group:hover {
  opacity: 1;
}

#group-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#new-group-btn {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  margin: 0;
}

#new-group-btn:hover {
  color: black;
}
